<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div id="map"></div>

    <div id="instructions">
      <p>Click and hold a point on the map to display weather data, or search by name.</p>
    </div>

    <div id="search">
      <form id="form" onsubmit="return false">
        <input id="input"/><br/>
        <input type="submit" id="button" value="Search" />
      </form>
    </div>

    <div id="data">
      <p id="name"></p>
      <p id="lat"></p>
      <p id="lon"></p>
      <p id="temp"></p>
      <p id="desc"></p>
    </div>

    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script src="../static/locations.js"></script>
    <script src="../static/script.js"></script>
    <script src="../static/test.js"></script>
  </body>
</html>
